
@{ ViewData["Title"] = "Display Data";

    string[] table_headers = new string[]
    {
        "Photo","ID","Name","Author","Category","PageCount","Price","Rating","Year","Actions"
                        }; }

<div class="table">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                @foreach (var head in table_headers)
                {
    <th>@head</th>}
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (Book book in Model)
                {


            <tr>

                <td>
                    @{ string img_source = book.Name.Replace(" ", "-").ToLower();
                        img_source = book.Category + "/" + img_source + "-" + book.Year + ".jpg"; }

                    <img class="img-fluid rounded" style="width:70px;" src="~/images/book-images/@img_source" />

                </td>
                <td>@book.ID</td>
                <td>@book.Name</td>
                <td>@book.Author</td>
                <td>@book.Category</td>
                <td>@book.PageCount</td>
                <td>@book.Price</td>
                <td>@book.Rating</td>
                <td>@book.Year</td>
                @if (ViewBag.bookType == "OwnedBook")
                {
                    if (!ViewBag.isGuest)
                    {
                        <td>
                            <a class="btn btn-primary" href="~/updatenowreadingbook/@book.ID">Now Reading</a>
                            <a class="btn btn-primary" href="~/addtoalreadyreadlist/@book.ID">Add To Already Read</a>
                            <a class="btn btn-danger" href="~/addtowantstoreadlist/@book.ID">Add To Wants</a>
                        </td>
                    }
                        else
                        {
            <td>
                <a class="btn btn-primary" href="~/book/@book.ID">View Book</a>
            </td>
                        }

                }
                else if (ViewBag.bookType == "WantsToRead")
                {
                    <td><a class="btn btn-danger" href="~/updatewantstoreadlist/@book.ID">Remove</a></td>
                }
                else if (ViewBag.bookType == "AlreadyReadBook")
                {
                    <td><a class="btn btn-danger" href="~/updatealreadyreadlist/@book.ID">Remove</a></td>
                }

            </tr>}
            }
        </tbody>

    </table>
</div>