@model User
@{
    User user = ViewBag.user;
    ViewData["Title"] = "Edit Profile - " + user.Username;
}
<div id="user-profile">
    <div class="row">
        <div class="col-lg-12">
            <div class="card text-center">
                <div class="card-body p-0">
                    <ul class="edit-profile d-flex nav nav-pills">
                        <li class="col-md-4 p-0">
                            <a class="nav-link active" data-toggle="pill" href="#personal-information">Personal Information</a>
                        </li>
                        <li class="col-md-4 p-0">
                            <a class="nav-link" data-toggle="pill" href="#change-password">Change Password</a>
                        </li>
                        <li class="col-md-4 p-0">
                            <a class="nav-link" data-toggle="pill" href="#manage-contact">Manage Contact</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-lg-12">
            <div class="edit-profile-data">
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="personal-information" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="header-title">
                                    <h4 class="card-title mb-0">
                                        Personal Information
                                    </h4>
                                </div>
                            </div>
                            <div class="card-body">
                                <form method="post" action="/accountsettings">
                                    <div class="form-group row align-items-center">
                                        <div class="col-md-12">
                                            <div class="profile-img-edit">
                                                <img class="profile-pic" src="~/images/person-icon.png" alt="profile-pic" />
                                                <div class="p-image bg-primary text-white">
                                                    <i class="fas fa-2x fa-arrow-circle-up upload-icon"></i>
                                                    <input class="file-upload" type="file" accept="image/*" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row align-items-center">
                                        <div class="form-group col-sm-6">
                                            <label asp-for="Name">Name</label>
                                            <input asp-for="Name" type="text" class="form-control" id="name" value="@user.Name" placeholder="Type Your Name" required />
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label asp-for="Surname">Surname</label>
                                            <input asp-for="Surname" type="text" class="form-control" id="Surname" value="@user.Surname" placeholder="Type Your Surname" required />
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label asp-for="Username">Username</label>
                                            <input asp-for="Username" type="text" class="form-control" id="Username" value="@user.Username" placeholder="" required />
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label asp-for="Email">Email</label>
                                            <input asp-for="Email" type="email" class="form-control" id="Email" value="@user.Email" placeholder="Type Your E-mail" required />
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label asp-for="PhoneNumber">Phone Number</label>
                                            <input asp-for="PhoneNumber" type="text" class="form-control phoneNumber" id="PhoneNumber" value="@user.PhoneNumber" placeholder="" required />
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label asp-for="Birthday">Birthday</label>
                                            @{ String today = DateTime.Today.ToString("yyyy-MM-dd"); }
                                            <input asp-for="Birthday" type="date" class="form-control mb-0" id="Birthday" max="@today" value="@user.Birthday.ToString("yyyy-MM-dd")" required>
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label asp-for="About" for="name">About</label>
                                            <textarea asp-for="About" id="About" rows="4" cols="50" class="form-control" placeholder="@user.About"></textarea>
                                        </div>
                                        <div class="form-group col-sm-12 d-flex justify-content-center mt-2">
                                            <button type="submit" class="btn btn-primary mr-5">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="change-password" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="header-title">
                                    <h4 class="card-title mb-0">
                                        Change Password
                                    </h4>
                                </div>
                            </div>
                            <div class="card-body">
                                <form method="post" action="/accountsettings">
                                    <div class="form-group">
                                        <label for="cpass">Current Password:</label>
                                        <input type="Password" class="form-control" id="currentPassword" value="" required>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Password">New Password:</label>
                                        <input asp-for="Password" type="Password" class="form-control" id="password" value="" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="vpass">Verify Password:</label>
                                        <input type="Password" class="form-control" id="confirm_password" value="" required>
                                    </div>
                                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                    <button type="reset" class="btn btn-danger">Cancel</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="manage-contact" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="header-title">
                                    <h4 class="card-title mb-0">
                                        Manage Contact
                                    </h4>
                                </div>
                            </div>
                            <div class="card-body">
                                <form method="post">
                                    <div class="form-group" action="/accountsettings">
                                        <label asp-for="Twitter">Twitter</label>
                                        <input asp-for="Twitter" type="url" class="form-control" id="twitter" value="@user.Twitter">
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Facebook">Facebook</label>
                                        <input asp-for="Facebook" type="url" class="form-control" id="fb" value="@user.Facebook">
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Youtube">Youtube</label>
                                        <input asp-for="Youtube" type="url" class="form-control" id="yt" value="@user.Youtube">
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Pinterest">Pinterest</label>
                                        <input asp-for="Pinterest" type="url" class="form-control" id="pt" value="@user.Pinterest">
                                    </div>
                                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                </form>
                                <script>
                                    var password = document.getElementById("currentPassword");
                                    function validatePassword() {
                                        if (currentPassword.value != @user.Password) {
                                            currentPassword.setCustomValidity("This is not your current password!");
                                        } else {
                                            currentPassword.setCustomValidity('');
                                        }
                                    }
                                    currentPassword.onchange = validatePassword;
                                    currentPassword.onkeyup = validatePassword;
                                </script>
                                <script>
                                    var password = document.getElementById("password")
                                        , confirm_password = document.getElementById("confirm_password");

                                    function validatePassword() {
                                        if (password.value != confirm_password.value) {
                                            confirm_password.setCustomValidity("Passwords Don't Match");
                                        } else {
                                            confirm_password.setCustomValidity('');
                                        }
                                    }

                                    password.onchange = validatePassword;
                                    confirm_password.onkeyup = validatePassword;</script>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>