@model Book
@{
    ViewData["Title"] = "Category Page";
    List<Book> books = ViewBag.CategoryBooks;
    List<String> categories = ViewBag.Categories;
    List<String> authors = ViewBag.Authors;
    List<String> years = ViewBag.Years;
    List<Book> favoriteBooks = ViewBag.FavoriteBooks;
    String img_source = "";
}

<div id="category-page">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-transparent mb-0">
                <div class="d-block text-center">
                    <h2 class="mb-3">Search by Book Name</h2>
                    <form action="/category/category" method="post">
                        <div class="w-100 search-filter">
                            <ul class="list-inline p-0 m-0 row justify-content-center search-menu-options">
                                <li class="search-menu-opt">
                                    <div class="dropdown">
                                        <div class="form-group mb-0">
                                            <select asp-for="Category" class="form-control form-search-control bg-white border-0" id="exampleFormControlSelect2">
                                                <option value="Category" selected="">Category</option>
                                                @foreach (String category in categories)
                                                {
                                    <option value="@category">@category</option>}

                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li class="search-menu-opt">
                                    <div class="dropdown">
                                        <div class="form-group mb-0">
                                            <select asp-for="Year" class="form-control form-search-control bg-white border-0" id="exampleFormControlSelect3">
                                                <option value="0" selected="">Year</option>
                                                @foreach (String year in years)
                                                {
                                    <option value="@year">@year</option>            }

                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li class="search-menu-opt">
                                    <div class="dropdown">
                                        <div class="form-group mb-0">
                                            <select asp-for="Author" class="form-control form-search-control bg-white border-0" id="exampleFormControlSelect4">
                                                <option value="Author" selected="">Author</option>
                                                @foreach (String author in authors)
                                                {
                                    <option value="@author">@author</option>}

                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li class="search-menu-opt">
                                    <button type="submit" class="btn btn-primary d-block mb-2">Filter</button>
                                </li>
                            </ul>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        @foreach (Book book in books)
                        {
                            img_source = book.Name.Replace(" ", "-").ToLower();
                            img_source = book.Category + "/" + img_source + "-" + book.Year + ".jpg";


                            <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                                <div class="card-book" style="height: calc(100% - 30px);">
                                    <div class="card-book-body p-0">
                                        <div class="d-flex align-items-center">
                                            <div id="book-img" class="col-6 p-0 position-relative image-overlap-shadow">
                                                <a href="~/book/@book.ID">
                                                    <img class="img-fluid rounded w-100" src="~/images/book-images/@img_source
                                                    " alt="">
                                                    <div class="book-img-overlay">
                                                        <div class="icon">
                                                            <i class="fas fa-shopping-basket"></i>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <div class="mb-2">
                                                    <h6 class="mb-2">@book.Name</h6>
                                                    <p class="font-size-13 line-height mb-1">@book.Author</p>
                                                </div>
                                                <div class="price d-flex align-items-center">
                                                    <h6>
                                                        <b>$@book.Price</b>
                                                    </h6>
                                                </div>
                                                <div class="price d-flex align-items-center">
                                                    <h6>
                                                        @book.Category
                                                    </h6>
                                                </div>
                                                <div class="product-action">
                                                    <a href="~/addShoppingCart/@book.ID">
                                                        <i class="fas fa-shopping-cart"></i>
                                                    </a>
                                                    <a href="~/addtowantstoreadlist/@book.ID" class="ml-2">
                                                        <i class="fas fa-heart" style="color:red;"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (books.Count == 0)
                        {
                            <div class="text-danger">
                                <strong>Not found the Books.</strong>
                            </div>
                        }

                    </div>
                </div>
            </div>

        </div>
        
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center position-relative">
                    <div class="header-title">
                        <h4 class="card-title mb-0">
                            Trendy Books
                        </h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="list-inline p-0 mb-0 row slick-initialized slick-slider">
                        <div class="slick-list draggable">
                           <ul class="similar-slider p-0">
                                @foreach(Book book in favoriteBooks)
                                {
                                    img_source = book.Name.Replace(" ", "-").ToLower();
                                    img_source = book.Category + "/" + img_source + "-" + book.Year + ".jpg";
                                    <li class="col-md-3 slick-slide">
                                        <div class="d-flex align-items-center">
                                            <div id="book-img" class="col-6 p-0 position-relative image-overlap-shadow">
                                                <a href="~/book/@book.ID">
                                                    <img class="img-fluid rounded w-100" src="~/images/book-images/@img_source
                                                    " alt="">
                                                    <div class="book-img-overlay">
                                                        <div class="icon">
                                                            <i class="fas fa-shopping-basket"></i>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <div class="mb-2">
                                                    <h6 class="mb-2"> @book.Name</h6>
                                                    <p class="font-size-13 line-height mb-1">@book.Author</p>
                                                </div>
                                                <div class="price d-flex align-items-center">
                                                    <h6>
                                                        <b>$@book.Price</b>
                                                    </h6>
                                                </div>
                                                <div class="product-action">
                                                    <a href="~/addShoppingCart/@book.ID">
                                                        <i class="fas fa-shopping-cart"></i>
                                                    </a>
                                                    <a href="~/addtowantstoreadlist/@book.ID" class="ml-2">
                                                        <i class="fas fa-heart" style="color:red;"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center position-relative">
                    <div class="header-title">
                        <h4 class="card-title mb-0">
                            Favorite Reads
                        </h4>
                    </div>
                </div>
                <div class="card-body">
                    <div id="favorites-slider" class="list-inline p-0 mb-0 row slick-initialized slick-slider">
                        <div class="slick-list draggable">
                            <ul class="slick-track p-0">
                                @foreach (Book book in favoriteBooks)
                                {
                                    img_source = book.Name.Replace(" ", "-").ToLower();
                                    img_source = book.Category + "/" + img_source + "-" + book.Year + ".jpg";
                                    <li class="col-md-4 slick-slide" style="width: 712px;">
                                        <div class="d-flex align-items-center">
                                            <div class="col-5 p-0 position-relative">
                                                <a href="~/book/@book.ID">
                                                    <img class="img-fluid rounded w-100" src="~/images/book-images/@img_source" alt="">
                                                </a>
                                            </div>
                                            <div class="col-7">
                                                <h4 class="mb-2">@book.Name</h4>
                                                <p class="mb-2">Author: @book.Author</p>
                                                <div class="mb-2 rating">
                                                    @for (int i = 0; i < book.Rating; i += 2)
                                                    {
                                                        <i class="fas fa-star" style="color: #ffba68"></i>
                                                    }
                                                </div>
                                                <div class="mb-2 price d-flex align-items-center">
                                                    <span class="pr-1 old-price font-weight-bold">$@book.Price</span>

                                                </div>
                                                <a class="text-dark read-now-btn" href="~/book/@book.ID">Read Now<i class="fas fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
